<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/style/index.css" rel="stylesheet" >
  </head>
  <body>
    <div>
      <nav>
        <ul id="nav-ul">
          <li><a href="/index.html">Home</a></li>
          <li><a href="/pages/Movies.html">Movies</a></li>
          <li><a href="/pages/Movies.html">Tv Shows</a></li>
          <li><a href="/pages/Movies.html">Actors</a></li>
          <li><a href="/pages/Movies.html">About</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>
